body {
  background-color:#89CFF0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 6px dotted #e8f4fa;
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 500px;
  object-fit: cover;
  border: 6px solid #e8f4fa;
}
h1{color: pink;
 font-size: 50px; 
}

h2{font-size:30px;
  
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}